body { 
    padding:0;
    margin:0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url('images/bgr.jpg') bottom no-repeat;
    background-size: cover;
}

h1 {
    color: #b2eae9;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2.n::after {
    content: " New";
    font-size: 10px;
    color:red;
}

.news {
    background-color: #fff;
    padding:50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article:nth-child(even) {
    background-color: rgb(100, 117, 125, 0.3);
}

article a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}

article h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color:rgb(132, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: rgb(100, 117, 125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}